<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722275017627-r3avo3hsotr1spal88p1olj1h0arkk4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722275017627-r3avo3hsotr1spal88p1olj1h0arkk4k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>722275017627-r2v8k38ntpacteet6djskk42nvcdgurl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkiyBkAvw2b0Jsc6Q7zJFptECcEJiMEGM</string>
	<key>GCM_SENDER_ID</key>
	<string>722275017627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yeniTasarim</string>
	<key>PROJECT_ID</key>
	<string>yenitasarim-923c4</string>
	<key>STORAGE_BUCKET</key>
	<string>yenitasarim-923c4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722275017627:ios:8611135f80f0a7b09b373e</string>
</dict>
</plist>